{{ 'change-password.css' | asset_url | stylesheet_tag }}

<script src="{{ 'change-password.js' | asset_url }}" defer="defer"></script>

<form id="change-password-form">
  <input type="hidden" id="Email" name="customer[email]" value="{{ customer.email }}">
    <label for="current-password">Current Password</label>
    <input type="password" id="current-password" name="current_password" required>

    <label for="new-password">New Password</label>
    <input type="password" id="new-password" name="new_password" required>

    <label for="confirm-password">Confirm New Password</label>
    <input type="password" id="confirm-password" name="confirm_password" required>

    <button type="submit">Change Password</button>
</form>
