<!-- The Modal -->
<div id="generateInvoiceModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <form id="invoiceForm">
      <label for="tin_number">{{ 'customer.orders.tin' | t }}</label>
      <input type="text" id="tin_number" name="tin_number">
      <span class="modal-form-error error-text">{{ 'customer.orders.formInputError' | t }}</span>
      <input type="hidden" id="orderId" name="orderId">
      <button type="submit">Submit</button>
      <span class="modal-form-tin-validation error-text">{{ 'customer.orders.tinError' | t }}</span>
      <span class="modal-form-ajax-validation error-text"></span>
    </form>
  </div>
</div>

<div id="QRModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <img id="QRImage" src="" height="200" width="200" loading="lazy">
  </div>
</div>